 body{
 	font-family: 'PT Sans', sans-serif;
 }
 #map { 
 	position:fixed;
 	width:100%;
 	height: 100%;
 	top: 0;
 	left: 0;
 	z-index: 0;
 }

 .popup{
 	display: none;
 	position: fixed;
 	top: 2%;
 	left: 20%;
 	width: 60%;
 	max-height: 94%;
 	overflow-y: auto;
 	background-color: white;
 	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	z-index: 1;
	padding: 30px 30px 70px 30px;
 }

 #main-header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
 }

 .titleForm{
 	font-size: 2em;
	font-weight: bolder;
	text-align: center;
	margin-bottom: 56px;
 }

form .btn{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-radius: 0 !important;
}
 .name{
 	font-size: 1.1em;
 	font-weight: bold;
 }
 .closePopups{
 	position: absolute;
 	top: 5px;
 	right: 5px;
 }

.righty {
	float: right;
}
.act{
	position: relative;
	padding: 5px;
	margin: 5px 0;
}

.delete{
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}

.delete:hover{
	opacity: 0.5;
}